<!--ul>
  <% @dated_friends.each do |friend| %>
     <%= friend['name'] %>
     <%= friend['birthday'] %>
     <%= friend['bday'] %>
     <br/>
  <% end %>

  <% @bday_hashes.each do |key, value| %>
     <%= "#{key} => #{value}" %>
     <br/>
  <% end %>

  <p>Matches <%=@matches%></p>
  <p>  Total <%=@total%></p>
</ul-->

<table>
  <% # Top row with all days.  %>
  <tr>
    <% # Top left empty cell.  %>
    <td/>
    <% # All days.  %>
    <% @days.each do |day| %>
       <td><%= day %></td>
    <% end %>
  </tr>

  <% # One row per month.  %>
  <% @months.each do |month| %>
     <tr>
       <% # First column with names.%>
       <td><p><%= month %></p></td>

       <% # Subsequent empty columns.%>
       <% @days.each do |day| %>
          <td></td>
       <% end %>
     </tr>
  <% end %>
<table>
