<div class="result">
  <%= @matches %> runs of <%= @total %> had a birthday clash.
</div>

<% @bday_index.sort.each do |mon,days| %>
  <div class="mon">
    <span class="mon"><%= Date.civil (y=1,m=mon).strftime('%b') %></span>
    <% days.sort.each do |day,friends| %>
        <span <%= "class=\'match\'" if friends.count > 1 %>>
        <span class="day"><%= day %></span>
        <% friends.each do |friend| %>
           <span class="profile" title="<%= friend['name'] %>">
             <a href='<%= friend['link'] %>' /><img src='<%= friend['picture'] %>'/></a>
           </span>
        <% end %>
        </span>
    <% end %>
  </div>
<% end %>
