<div class="left">

<h1>Birthday Paradox</h1>
Score:
<h2><%= "#{session["matches"]} of #{session["total"]} = #{@pct}%" %></h2>

<%= link_to "Run again", paradox_path, :class => "lurl"  %>
<%= link_to "Run 100 times", paradox_path(:runs => 100), :class => "lurl"  %>

<% @bday_index.sort.each do |mon,days| %>
  <% days.sort.each do |day,friends| %>
  <% if friends.count > 1 %>
    <% @exists = true %>
    <p>
    <% friends.each_index do |fi| %>
        <%= "and " if fi == friends.count-1 %>
        <%= friends[fi]['name']%>
        <%= ", " if fi < friends.count-2 %>
    <% end %>
    happen to share a birthday.
    </p>
  <% end %>
  <% end %>
<% end %>
<p><%= "No shared birthdays in this group." if not @exists %></p>

</div>

<div class="result">
<% @bday_index.sort.each do |mon,days| %>
  <div class="mon">
    <span class="mon"><%= Date.civil(1,mon).strftime('%b') %></span>
    <% days.sort.each do |day,friends| %>
        <span <%= "class=\'match\'" if friends.count > 1 %>>
        <span class="day"><%= day %></span>
        <% friends.each do |friend| %>
           <span class="profile" title="<%= friend['name'] %>">
             <a href='<%= friend['link'] %>' /><img src='<%= friend['picture'] %>'/></a>
           </span>
        <% end %>
        </span>
    <% end %>
  </div>
<% end %>
</div>
